@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap');

$primary: #F08F2D;
$primary-light: #F8DDCF;
$background-one: #FFF8F5;
$background-two: #FFE4D6;
$background-footer: #FAFAF9;
$background-button: #E7E5E4;
$background-header: rgba(255, 247, 237, 0.80);
$border-footer: rgba(254, 215, 170, 0.30);
$letter-text: #544336;
$letter-title: #261810;
$letter-logo: #1C1917;
$letter-nav: #57534E;
$letter-small: #78716C;
$neutral-white: #ffffff;

$font-family-manrope: "Manrope", sans-serif;
$font-family-sg: "Space Grotesk", sans-serif;